body{
  background-image:url("photo11.jpg")
}
.content
{
  background-color:white;
  background-attachment: fixed;
  color:black;
  padding:40px;
  height:400px;
  width:400px;
  margin:20px auto;
  text-align:left;
}

.column {
  float: left;
  width: 42%;
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
}

.columns {
  float: left;
  width: 48%;
  padding: 10px;
  height: 400px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
